.banner-sticky {
  width: 100%;
  height: 100vh;
  background-color: #A3E880;
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: -1;
  top: 0;
}

.banner-text {
  height: 25%;
  display: flex;
  align-items: center;
  color: #DFFF99;
}

.banner-wrap {
  height: 200vh;
  position: relative;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}


.container{
  height: 200vh;

}

.bernie {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bernie-pic {
  height: 100vh;
}


@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .bernie-pic {
    height: 100vh;
    width: 100%
    object-fit: cover;
  }
}
